.App {
    margin-left: 12rem;
    box-sizing: border-box;
    background-color: aliceblue;
    height: 100%;   
    padding: 0.3rem 25px;
    transition: 400ms margin-left;
  }

  
@media (max-width: 950px){
  .App {
  margin-left: 6rem;
  box-sizing: border-box;
  background-color: aliceblue;
  height: 100%;   
  padding: 0.3rem 15px;
  transition: 400ms margin-left;
  }
}
