.App {
    margin-left: 12rem;
    margin-right: 0rem;
    background-color: aliceblue;
    height: 100%;   
    width: 80%;
    padding: 0.3rem 0.2rem;
    transition: 400ms margin-left;
  }

  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: aliceblue;
  border-radius: 0.2rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsla(0, 70%, 74%, 0.501);
  border-radius: 0.2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsla(0, 70%, 74%, 0.61);
}

  
@media (max-width: 950px){
  .App {
  margin-left: 6rem;
  box-sizing: border-box;
  background-color: aliceblue;
  height: 100%;   
  padding: 0.3rem 15px;
  transition: 400ms margin-left;
  }
}
