.reqdetail{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0rem 0.8rem 0rem 0rem;
    padding-top:0.9rem;
    height: 44rem;  
    width: 96.8%;
    border-radius: 0.3rem;
    background-color: hsla(168, 41%, 86%, 0.257);
    font-size: 1.5rem;
}

