.App {
  box-sizing: border-box;
  background-color: hsla(185, 52%, 56%, 0.002);
  height: 40rem;   
  width: 100%;
  transition: 400ms margin-left;
}

.content{
  width: 100%;
  height: 100%;
}

.notfound{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1.4rem;
  height: 30rem;
  margin-left: 2rem;
}

.warning{
  color: red;
}

@media (max-width: 950px){
.App {
box-sizing: border-box;
height: 100%;   
padding: 0.3rem 0rem;
transition: 400ms margin-left;
}
}
