.App {
  box-sizing: border-box;
  background-color: rgba(210, 226, 240, 0.854);
  height: 40rem;   
  width: 100%;
  padding: 0.3rem 0rem;
  transition: 400ms margin-left;
}

.content{
  /* margin-left: 7.5rem; */
  margin-top: 4.17rem;
  width: 100%;
}

@media (max-width: 950px){
.App {
margin-left: 6rem;
box-sizing: border-box;
background-color: hsla(208, 87%, 18%, 0.85);
height: 100%;   
padding: 0.3rem 15px;
transition: 400ms margin-left;
}
}
