.caroulsel{
    height: 13rem;
    width: 19rem;
    padding: 0.7rem 0rem 0.1rem 0.7rem;
    margin: 0rem 0rem 0rem 0rem;
}
.caroulsel img{
    border-radius: 0.3rem;
}
ul{
    display: none;
}

@media (max-width: 950px){
    .caroulsel{
        height: 100%;
        width: 100%;
        padding: 0.7rem 0rem 0.1rem 0rem;
        margin: 0rem;
    }
}