.side{
    width: 210px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 0px 5px 0px;
    background-color: aqua;
}

.items{
    width: 90%;
    height: 99%;
    justify-content: flex-start;
}


.item{
    width: 90%;
    margin: 5px 0px 5px 0px;
    font-size: 28px;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0px;
}

span{
    margin: 0px 5px 0px 5px;
}

._link {
    text-decoration: none;
    align-items: center;
    padding: 0px;
  }
