.side {
    display: flex;
    flex-direction: column;
    background-color: hsl(210, 64%, 81%);
    width: 11rem;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 0px 5px 1px rgba(0, 0, 0, 0.1);
    transition: 200ms width;
    justify-content: space-between;
  }
  

.title-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 25px;
  }

  .title-container {
    display: flex;
    align-items: center;
    padding: 20px 25px;
  }
  
  .title-container h1 {
    font-size: 20px;
    font-weight: lighter;
    padding-left: 20px;
  }
  
  .links-container {
    padding: 0px 15px;
  }
  .links {
    display: flex;
    align-items: center;
  }
  
  .icon {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #5f5f5f;
  }

  .linkto{
      text-decoration: none;
      padding: 0px 0.5rem;
}

.logout{
    display: flex;
    justify-content: center;
    margin-right: 1rem;
    margin-bottom: 1.7rem;

}

.side button{
  height: 1.7rem;
  width: 45%;
  font-size: 0.86rem;
  border-radius: 0.5rem;
  border-width: 0rem;
  background-color: hsla(10, 78%, 43%, 0.3);
}

.bodega{
  font-size: 0.9rem;
  margin-left: 2rem;
}

@media (max-width: 950px){
  .icon{
    display: none;
  }
  .links{
    font-size: 0.7rem;
    margin: 0.5rem  0rem 1.1rem 0.4rem;
  }
  .logout{
    font-size: 0.7rem;
    margin-left: 1rem;
  }
  .side button{
    height: 1.4rem;
    width: 60%;
    font-size: 0.7rem;
    border-radius: 0.4rem;
    border-width: 0rem;
    background-color: hsla(10, 78%, 43%, 0.3);
  }
  .bodega{
    font-size: 0.6rem;
    margin-left: 0.7rem;
    margin-top: 0.4rem;
  }
  .side{
    width: 6rem;
  }
}

/* .items{
    width: 90%;
    height: 99%;
    justify-content: flex-start;
}


.item{
    width: 90%;
    margin: 5px 0px 5px 0px;
    font-size: 1.7rem;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0px;
}

span{
    margin: 0px 5px 0px 5px;
}

._link {
    text-decoration: none;
    align-items: center;
    padding: 0px;
  } */
