.servicecard{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color:hsla(216, 54%, 89%, 0.09);
    padding: 0.2rem 0.7rem 1.5rem 1.3rem;
    margin:0.7rem;
    width: 88%;
    border-style: solid;
    border-color:hsla(91, 56%, 92%, 0.697);
    border-width: 0.001rem;
    border-radius: 0.3rem;
    border-bottom:0rem;
    border-right:0rem;
    border-left:0rem;
    box-shadow: #7290b695 0.8px 0.5rem 1rem, hwb(213 45% 28% / 0.587) 0.1px 0.075rem 0.025rem;
}

.servi {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 58%;
}
.servi span{
    font-size:0.9rem;
}
.servicen{
    padding-bottom: 2rem;
}

.img{
    height: 15rem;
    width: fit-content;   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.img img{
height: 15rem;
width: 19rem;
}

.containeri{
    display: flex;
    justify-content: flex-start;
    margin-left: 7rem;
}

@media (max-width: 950px){
    .img img{
        height: 15rem;
        width: 0%;
        padding: 0.7rem 0rem 0.rem 0rem;
    }
    .containeri{
        display: flex;
        width: 97%;
        margin: 0.3rem 0rem;
    }
    
    .img{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: 0.2rem 0rem;
    }
    .servicecard{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: rgba(237, 246, 232, 0.31);
        padding: 0.3rem 0.3rem 0.5rem 1rem;
        margin:0.7rem ;
        border-style: solid;
        border-color:hsla(91, 56%, 92%, 0.697);
        border-width: 0.001rem;
        border-radius: 0.8rem;
        border-bottom:0rem;
        border-right:0rem;
        border-left:0rem;
        box-shadow: hsla(213, 32%, 58%, 0.585) 0.8px 0.5rem 1rem, hwb(213 45% 28% / 0.587) 0.1px 0.075rem 0.025rem;
    }
    .servi {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 90%;
        margin-bottom: 1rem;
    }
}