
.dash {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #b59a9a;
    font-size: 0.7rem;
    justify-content: space-around;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 20%;
    width: 98%;
    margin: 0.3rem 0.2rem 0rem 0.7rem;
    border-radius: 3px;
    transition: all 500ms;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
 .dashdata{
     display: flex;
     /* justify-content: space-around; */
 }
  
 .dashdata h2{ 
    margin: 0.5rem;
}

.dash:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-2px) scale(1);
 }