.top-section{
    margin-left: 12rem;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    box-shadow: 3px 0px 5px 1px rgba(0, 0, 0, 0.1);
    background-color: aliceblue;
    height: 100%;   
    padding: 20px 25px;
    transition: 400ms margin-left;
}

.topRight{
    display: flex;
    align-items: center;
    margin: 0px;
    height: 80%;
    width: 20%;
}

.logo{
    font-weight: bold;
    font-size: 35px;
    color: darkblue;
    cursor: pointer;
}