.top-section{
    margin-left: 12rem;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    box-shadow: 3px 0px 5px 1px rgba(0, 0, 0, 0.1);
    background-color: aliceblue;
    height: 100%;   
    padding: 0.9rem 0.7rem 0.9rem 0.9rem;
    transition: 400ms margin-left;
}

.topRight{
    display: flex;
    align-items: center;
    margin: 0px;
    height: 80%;
    width: 20%;
}

.logo{
    font-weight: bold;
    font-size: 35px;
    color: darkblue;
    cursor: pointer;
}

.top-section button{
    border-style: solid;
    border-radius: 0.7rem;
    background-color: transparent;
    border-width: 0rem;
    padding: 0rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 0rem 0.5rem;
}
/* .search{
    display: flex;
    flex-direction: row;
} */
